.buttonNav {
  background-color: #3299bb;
  color: white;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 2px;
  margin-bottom: 10px;
}
.buttonNav:hover {
  background-color: #424242;
  color: white;
}
.marg {
  margin-bottom: 20px;
}
.logCard {
  padding: 20px;
  margin: 50px;
}
.padCard {
  padding: 20px;
}
